<style>

    a{
color:#2cbf89;
    margin: 6px 0;
    font-weight:600;

  }

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
.textStyle{
	padding: 10px;
}
img{
		padding: 10px;

}

</style>
<div>
	<img alt="cat" src="assets/images/Grumpy_Cat_by_Gage_Skidmore.jpg" width="250" height="300" align="left">
	<div class="textStyle">
	<div id="elem"></div>    
	<p>William Henry Gates III (born October 28, 1955) is an American business magnate, software developer, investor, author, and philanthropist. He is the co-founder of Microsoft Corporation. During his career at Microsoft, Gates held the positions of chairman, chief executive officer (CEO), president and chief software architect, while also being the largest individual shareholder until May 2014. He is considered one of the best known entrepreneurs of the microcomputer revolution of the 1970s and 1980s.</p>
<p><a href="https://en.wikipedia.org/wiki/Bill_Gates" target="_blank">https://en.wikipedia.org/wiki/Bill_Gates</a></p>
<p><a href="https://www.gatesfoundation.org/" target="_blank">https://www.gatesfoundation.org/</a></p>
</div>
</div>